# Category|Name|HEX_ID
P|P101 Example|000E
P|P102 Example|0015
Z|Z101 Example|0001
Z|Z102 Example|0002
Lab|Example Lab A|0016
Lab|Example Lab B|000F
Amfi|Amfi Example A|03A8
Amfi|Amfi Example B|0046
Amfi Classroom|Amfi Classroom Example A|040F
